.carousel {
    background: #111430;
    width: 100%;
    
}

.slick-slide > div {
    margin: 0 90px;
    
}

.carousel-slide {
    outline: none;
    height: 300px;
}
.carousel-slide img {
    height: 240px;
}